---
// component imports
import Link from "./Link.astro";
import { Hamburger } from "./Hamburger.jsx";
import { MobileMenu } from "./MobileMenu";

// images imports
import logo from "../assets/logo.png";

// data imports
import { navLinks } from "../data";
---

<header class="fixed z-10 w-full top-0 ease-in duration-300">
  <!-- class="flex justify-between items-center max-w-screen-2xl mx-auto px-6 py-3 md:px-11" -->
  <div
    class="grid grid-cols-[1fr_180px_1fr] justify-items-center items-center max-w-screen-2xl mx-auto px-6 py-3 md:px-11"
  >
    <!-- mobile menu islands  -->
    <Hamburger client:idle />
    <MobileMenu client:idle>
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
      <Link href="/צור-קשר/" text="צרו קשר" />
    </MobileMenu>

    <!-- larger devices menu -->
    <nav class="hidden lg:flex justify-self-start gap-16">
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
    </nav>
    <!-- class="fixed bg-white top-0 left-1/2 w-32 p-4 rounded-b-full" -->
    <a
      href="/"
      class="w-12 bg-white p-2 border-b-2 border-green-logo/70 rounded-b-full scale-[2] translate-y-4 lg:w-16 lg:scale-[2.7] lg:translate-y-7"
      aria-label="Go home"
    >
      <img src={logo.src} alt="logomark" />
    </a>
    <Link
      href="/צור-קשר/"
      text="צרו קשר"
      classes="hidden justify-self-end text-white bg-black px-6 py-2 rounded md:block"
    />
  </div>
</header>

<script>
  const header = document.querySelector("header") as HTMLElement;

  document.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      header.classList.add("scroll");
    } else {
      header.classList.remove("scroll");
    }
  });
</script>
