---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Link from "./Link.astro";
import { Hamburger } from "./Hamburger.jsx";
import { MobileMenu } from "./MobileMenu";

// images imports
import logo from "../images/logo.png";

// data imports
import { navLinks } from "../data";
---

<header class="fixed w-full bg-red-200 ease-in duration-300">
  <div
    class="flex justify-between items-center xmax-w-screen-2xl mx-auto px-3 md:px-11 md:py-2"
  >
    <!-- mobile menu islands  -->
    <Hamburger client:idle />
    <MobileMenu client:idle>
      <Link href="/" text="בית" />
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
      <Link href="/צור-קשר/" text="צרו קשר" />
    </MobileMenu>

    <!-- large screen menu -->
    <a href="/" class="w-12 md:w-16" aria-label="Go home">
      <img src={logo.src} alt="logomark" />
    </a>
    <nav class="hidden gap-16 md:flex">
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
    </nav>
    <Link href="/צור-קשר/" text="צרו קשר" classes="hidden font-bold md:block" />
  </div>
</header>
