---
import { Image } from "astro:assets";
// component imports
import Link from "./Link.astro";
import { Hamburger } from "./Hamburger.jsx";
import { MobileMenu } from "./MobileMenu";

// images imports
import logo from "../assets/logo.png";

// data imports
import { navLinks } from "../data";
---

<header class="fixed top-0 z-10 w-full bg-background">
  <div
    class="max-w-screen-2xl mx-auto px-fluid-m py-5 flex items-center justify-between border-b-2 border-tertiary-light"
  >
    <!-- mobile menu islands  -->
    <Hamburger client:idle />
    <MobileMenu client:idle>
      {
        navLinks.map(item => (
          <Link href={item.path} text={item.name} type="link" />
        ))
      }
      <Link href="/צור-קשר/" text="צרו קשר" type="link" />
    </MobileMenu>

    <!-- larger devices menu -->
    <nav class="hidden lg:flex justify-self-start gap-11">
      {
        navLinks.map(item => (
          <Link href={item.path} text={item.name} type="link" />
        ))
      }
    </nav>
    <Link
      href="tel:04-6442777"
      text="דברו אתנו"
      type="btn"
      icon="lucide:phone-call"
      classes="hidden justify-self-end text-white bg-black md:flex hover:opacity-80"
    />
  </div>

  <!-- Logo -->
  <div
    class="w-fluid-3xl h-fluid-3xl flex justify-center absolute left-1/2 -translate-x-1/2"
  >
    <a
      href="/"
      class="p-fluid-xs bg-background flex border-2 border-tertiary-light rounded-full aspect-square absolute -top-1/2"
    >
      <Image src={logo} alt="logomark" class="object-cover" /></a
    >
  </div>
</header>
