---
// component imports
import Link from "./Link.astro";
import { Hamburger } from "./Hamburger.jsx";
import { MobileMenu } from "./MobileMenu";

// images imports
import logo from "../images/logo.png";

// data imports
import { navLinks } from "../data";
---

<header class="fixed w-full top-0 ease-in duration-300">
  <div
    class="flex justify-between items-center max-w-7xl mx-auto px-4 py-2 sm:px-6 md:px-11 md:py-3"
  >
    <!-- mobile menu islands  -->
    <Hamburger client:idle />
    <MobileMenu client:idle>
      <Link href="/" text="בית" />
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
      <Link href="/צור-קשר/" text="צרו קשר" />
    </MobileMenu>

    <!-- larger devices menu -->
    <a href="/" class="w-12 md:w-16" aria-label="Go home">
      <img src={logo.src} alt="logomark" />
    </a>
    <nav class="hidden gap-16 md:flex">
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
    </nav>
    <Link
      href="/צור-קשר/"
      text="צרו קשר"
      classes="hidden md:block text-white bg-black px-6 py-2 rounded"
    />
  </div>
</header>

<script>
  const header = document.querySelector("header") as HTMLElement;

  document.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      header.classList.add("scroll");
    } else {
      header.classList.remove("scroll");
    }
  });
</script>
